<div class="wrapper">
    <button class="btn btn-light" type="button" id="button-addon1"
                       (click)="onSignOut()">SignOut</button>
    <div class="row">
        
        <div class="col-4">
            <input class ="search" type="text" placeholder="Search.." name="search">
            <ul class="list-group">
                <li *ngFor="let group of groups"  
                (click)="onGroupSelect(group)"
                [ngClass]="{active: group.id == selectedGroupId}"
                class="list-group-item" >{{group.name}}</li>
            </ul>
        </div>
        <div class="col-8 right">
            <div class="person">Person Name</div>

            <div class="chat">
                <ul class="list-group messages">
                    <li *ngFor="let message of messages" class="massage">
                        <p>{{message.text}}</p>
                        <span class="time-right">11:00</span>
                    </li>            
                </ul> 
               
                  
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type massage here..." 
                    aria-label="Recipient's username" aria-describedby="button-addon2"
                    [(ngModel)] = "massageText">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                       (click)="onSend()">send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>