<p>chat works!</p>

<div class="container">
    <div class="row">
        <div class="col-4">
            <p>col-1</p>
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search">@</i></button>
            </form> 
            <ul class="list-group">
                <li class="list-group-item">Person-1</li>
                <li class="list-group-item">Person-2</li>
                <li class="list-group-item">Person-3</li>
                <li class="list-group-item">Person-4</li>
            </ul>
        </div>

        <div class="col-8 right">
            <p>col-2</p>
            <div class="scrollBar "></div>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" 
                aria-describedby="addon-wrapping">
            </div>

        </div>
    </div>
</div>