<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/border.jpg" class="img-fluid">          
        </div>

    <div class="col right"> 
        <h1 class="text-left">Sign Up</h1> 
    <form #f="ngForm" class="form-horizontal" (ngSubmit)='onSubmit()'>
    <div class="form-group">
        <input type="text" name="first-name" id="first-name" class="form-control" placeholder="First name" 
         [(ngModel)]="newUser.firstName" required />
    </div>
    <div class="form-group">
        <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Last name" 
        [(ngModel)]="newUser.lastName" required/>
    </div>
    <div class="form-group">
        <input name="email-addr" type="email" id="email-addr" class="form-control" placeholder="Email" email 
            [(ngModel)]="newUser.email" required />
    </div>
    <div class="form-group">
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" 
            [(ngModel)]="newUser.password" minlength="6" required />
    </div>
    <div class="form-group">
        <input name="repeat-password" type="password" id="repeat-password" class="form-control" placeholder="Repeat Password" 
        minlength="6" [(ngModel)] = "newUser.passwordRepeat" required />
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary text-right" [disabled]="!f.valid">Sign up</button>
    </div>

    </form>
    </div>
    </div>
</div>

