body{
    height: 100%;
    background-image: url('assets/purple.jpg');
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    position: relative;
    height: 100vh;
    padding: 40px 20px 40px 20px;
    background: rgb(55, 18, 85);
    margin: 55px;
    overflow: hidden;
}

div.container{
    position: absolute;
    bottom: 10px;
    top: 40px;
}

.search{
    width: 100%;
    height:30px;
    margin-bottom: 5px;
}

.person{
    background-color: white;
    height:30px;
}
.chat{
    position: absolute;
    bottom: 1px;
    top: 35px;
    width: 100%;
    background-color: white;
}